.show{
  .pc_case{
    &__head{}
    &__bottom{
      width:80%;
      display:flex;
      &__left{
        width:50%;
        &__image{
          img.image{
            width:550px;
            height:420px;
          }
        }
      }
      &__right{
        margin-top:90px;
        margin-left:90px;
        .table{
          table{
            width:400px;
            height:500px;
            td{
              border:solid thin grey;
            }
            tr.name_maker{
              td.name{
                background-color:#E0E0E0;
                min-width:150px;
              }
              td.p_name{
                min-width:150px;
              }
              td.maker{
                background-color:#E0E0E0;
                min-width:150px;
              }
              td.p_maker{
                min-width:150px;
              }
            }
            tr.release_date{
              td.release_ja{
                background-color:#E0E0E0;
              }
              td.p_release_ja{}
              td.release_g{
                background-color:#E0E0E0;
              }
              td.p_release_g{}
            }
            tr.factor{
              td.pc_case_factor{
                background-color:#E0E0E0;
              }
              td.p_pc_case_factor{}
            }
            tr.shadow_bay{
              td.shadow_bay_2_5{
                background-color:#E0E0E0;
                min-width:180px;
              }
              td.p_shadow_bay_2_5{}
              td.shadow_bay_3_5{
                background-color:#E0E0E0;
                min-width:180px;
              }
              td.p_shadow_bay_3_5{}
            }
            tr.bay{
              td.bay_3_5{
                background-color:#E0E0E0;
              }
              td.p_bay_3_5{}
              td.bay_5_2_5{
                background-color:#E0E0E0;
              }
              td.p_bay_5_2_5{}
            }
            tr.color_c{
              td.color{
                background-color:#E0E0E0;
              }
              td.p_color{}
              td.usb_type_c{
                background-color:#E0E0E0;
              }
              td.p_usb_type_c{}
            }
            tr.usb{
              td.usb3_1{
                background-color:#E0E0E0;
              }
              td.p_usb3_1{}
              td.usb3_0{
                background-color:#E0E0E0;
              }
              td.p_usb3_0{}
              td.usb2_0{
                background-color:#E0E0E0;
              }
              td.p_usb2_0{}
            }
            tr.mic_headphone{
              td.mic{
                background-color:#E0E0E0;
              }
              td.p_mic{}
              td.headphone{
                background-color:#E0E0E0;
              }
              td.p_headphone{}
            }
            tr.size{
              width:400px;
              td.width{
                background-color:#E0E0E0;
              }
              td.p_width{}
              td.height{
                background-color:#E0E0E0;
              }
              td.p_height{}
              td.depth{
                background-color:#E0E0E0;
              }
              td.p_depth{}
            }      
          }
        }
      }
    }
  }
}