.show{
  .memory{
    &__head{}
    &__bottom{
      width:80%;
      display:flex;
      &__left{
        width:50%;
        &__image{
          img.image{
            width:550px;
            height:420px;
            margin-top:50px;
            margin-left:60px;
          }
        }
      }
      &__right{
        margin-top:90px;
        margin-left:120px;
        .table{
          table{
            tr{
              td{
                border:solid thin grey;
              }
            } 
            tr.name_maker{
              td.name{
                background-color:#E0E0E0;
              }
              td.p_name{}
              td.maker{
                background-color:#E0E0E0;
              }
              td.p_maker{}
            }
            tr.release_data{
              td.release_ja{
                background-color:#E0E0E0;
              }
              td.p_release_ja{}
              td.release_g{
                background-color:#E0E0E0;
              }
              td.p_release_g{}
            }
            tr.value_card{
              td.value{
                background-color:#E0E0E0;
              }
              td.p_value{}
              td.card{
                background-color:#E0E0E0;
              }
              td.p_card{}
            }
            tr.specification_interface{
              td.specification{
                background-color:#E0E0E0;
              }
              td.p_specification{}
              td.interface{
                background-color:#E0E0E0;
              }
              td.p_interface{}
            }
            tr.speed_ecc{
              td.speed{
                background-color:#E0E0E0;
              }
              td.p_speed{}
              td.ecc{
                background-color:#E0E0E0;
              }
              td.p_ecc{}
            }
          }
        }
      }
    }
  }
}