.new{
  .content{
    .pc{  
      text-align: center;
      margin:0 auto;
      .name{
        height:10px;
        margin-top:15px;
        text-align: center;
      }
      .cpu{
        height:10px;
        margin-top:15px;
      }
      .mother_board{
        height:10px;
        margin-top:15px;
      }
      .memory{
        height:10px;
        margin-top:15px;
      }
      .videocard{
        height:10px;
        margin-top:15px;
      }
      .ssd{
        height:10px;
        margin-top:10px;
      }
      .cpu_cooler{
        height:10px;
        margin-top:15px;
      }
      .private{
        
      }
    }
    .submit{
      text-align: center;
      margin:0 auto;
    }
  }
}