.new{
  .content{
    .pc{  
      text-align: center;
      margin:0 auto;
      .name{}
      .cpu{}
      .mother_board{}
      .memory{}
      .videocard{}
      .ssd{}
      .cpu_cooler{}
      .private{}
    }
    .submit{
      text-align: center;
      margin:0 auto;
    }
  }
}