.new{
  .content{
    .pc{  
      text-align: center;
      margin:0 auto;
      .name{
        height:12px;
        margin-top:50px;
        text-align: center;
      }
      .cpu{
        height:12px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .mother_board{
        height:12px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .memory{
        height:12px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .videocard{
        height:10px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .pc_case{
        height:10px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .ssd{
        height:12px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .cpu_cooler{
        height:12px;
        margin-top:50px;
        text-align: center;
        select{
          height:40px;
          font-size:30px;
          border:1px;
          }
      }
      .private{
        margin-top:50px;
      }
    }
    .submit{
      text-align: center;
      margin:0 auto;
      text-align: center;
    }
  }
}