= render "shared/header" # ヘッダー呼び出し
.new
  .j_pc
    .name
    .cpu
      = f.collection_select :cpu_id, Cpu.all, :id, :name
    .mother_board
    .memory
    .videocard
    .pc_case
    .power_unit
    .ssd
    .cpu_cooler
    .private
= render "shared/footer" # フッター呼び出し