.show{
  .cpu_cooler{
    &__head{}
    &__bottom{
      width:80%;
      display:flex;
      &__left{
        width:50%;
        &__image{
          img.image{
            width:550px;
            height:420px;
            margin-left:60px;
            margin-top:50px;
          }
        }
      }
      &__right{
        margin-top:60px;
        margin-left:90px;
        .table{
          table{
            tr{
              td{
                border:solid thin grey;
              }
            }
            tr.name_maker{
              td.name{
                background-color:#E0E0E0;
              }
              td.p_name{}
              td.maker{
                background-color:#E0E0E0;
              }
              td.p_maker{}
            }
            tr.release_data{
              td.release_ja{
                background-color:#E0E0E0;
              }
              td.p_release_ja{}
              td.release_g{
                background-color:#E0E0E0;
              }
              td.p_release_g{}
            }
            tr.fan_pic_fan_rpm{
              td.fan_pic{
                background-color:#E0E0E0;
              }
              td.p_fan_pic{}
              td.fan_rpm{
                background-color:#E0E0E0;
              }
              td.p_fan_rpm{}
            }
            tr.fan_size_type{
              td.fan_size{
                background-color:#E0E0E0;
              }
              td.p_fan_size{}
              td.cpu_cooler_type{
                background-color:#E0E0E0;
              }
              td.p_cpu_cooler_type{}
            }
          }
        }
      }
    }
  }
}