.footer
  .footer__listMakers
    %h3 メーカー リスト
    %ul
      %li ASUS
      %li ASRock
      %li MSI
      %li GIGABYTE
      %li ELSA
      %li ZOTAC
      %li 玄人志向
  .footer__listpatrs
    %h3 パーツ リスト
    %ul
      %li CPU
      %li マザーボード
      %li メモリー
      %li グラフィックボード
      %li PCケース
      %li 電源ユニット
      %li SSD
      %li CPUクーラー
  .footer__contact
    %h3 お問い合わせ

-# 将来的には一覧の末尾に「もっと見る」を入れて詳細なリストページに飛ばす