.header
  .header__logo
    = link_to root_path do
      = image_tag "main_logo_head.png", class: "headLogo"
  .header__search
    %input.searchWord{:name => "keyword", :placeholder => "キーワードを入力してください", :type => "keyword", :value => ""}/
  .header__user
    = link_to "https://www.amazon.com", class: "userIcon" do
      %i.fas.fa-user.fa-2x