.show{
  .power_unit{
    &__head{}
    &__bottom{
      width:80%;
      display:flex;
      &__left{
        width:50%;
        &__image{
          img.image{
            width:550px;
            height:420px;
            margin-left:60px;
            margin-top:50px;
          }
        }
      }
      &__right{
        margin-top:90px;
        margin-left:120px;
        .table{
          table{
            tr{
              td{
                border:solid thin grey;
              }
            }
            tr.name_maker{
              td.name{
                background-color:#E0E0E0;
              }
              td.p_name{}
              td.maker{
                background-color:#E0E0E0;
              }
              td.p_maker{}
            }
            tr.release_data{
              td.release_ja{
                background-color:#E0E0E0;
              }
              td.p_release_ja{}
              td.release_g{
                background-color:#E0E0E0;
              }
              td.p_release_g{}
            }
            tr.power_value_unit_factor_plus80{
              td.power_value{
                background-color:#E0E0E0;
              }
              td.p_power_value{}
              td.power_unit_factor{
                background-color:#E0E0E0;
              }
              td.p_power_unit_factor{}
              td.plus80{
                background-color:#E0E0E0;
              }
              td.p_plus80{}
            }
          }
        }
      }
    }
  }
}