.show{
  .videocard{
    &__head{}
    &__bottom{
      width:80%;
      display:flex;
      &__left{
        width:50%;
        &__image{
          img.image{
            width:550px;
            height:420px;
            margin-left:60px;
            margin-top:50px;
          }
        }
      }
      &__right{
        margin-top:60px;
        margin-left:90px;

        .table{
          table{
            tr{
              td{
                border:solid thin grey;
              }
            } 
            tr.name_maker_developer{
              td.name{
                background-color:#E0E0E0;
              }
              td.p_name{}
              td.maker{
                background-color:#E0E0E0;
              }
              td.p_maker{}
              td.developer{
                background-color:#E0E0E0;
              }
              td.p_developer{}
            }
            tr.release_data{
              td.release_ja{
                background-color:#E0E0E0;
              }
              td.p_release_ja{}
              td.release_g{
                background-color:#E0E0E0;
              }
              td.p_release_g{}
            }
            tr.sli_crossfire{
              td.sli{
                background-color:#E0E0E0;
              }
              td.p_sli{}
              td.crossfire{
                background-color:#E0E0E0;
              }
              td.p_crossfire{}
            }
            tr.chip_interface_memory_power{
              td.chip{
                background-color:#E0E0E0;
              }
              td.p_chip{}
              td.interface{
                background-color:#E0E0E0;
              }
              td.p_interface{}
              td.memory{
                background-color:#E0E0E0;
              }
              td.p_memory{}
              td.power{
                background-color:#E0E0E0;
              }
              td.p_power{}
            }
            tr.mini_hdmi_hdmi_display_port_mini_display_port{
              td.mini_hdmi{
                background-color:#E0E0E0;
              }
              td.p_mini_hdmi{}
              td.hdmi{
                background-color:#E0E0E0;
              }
              td.p_hdmi{}
              td.display_port{
                background-color:#E0E0E0;
              }
              td.p_display_port{}
              td.mini_display_port{
                background-color:#E0E0E0;
              }
              td.p_mini_display_port{}
            }
            tr.d_sub_div_type_c{
              td.d_sub{
                background-color:#E0E0E0;
              }
              td.p_d_sub{}
              td.div{
                background-color:#E0E0E0;
              }
              td.p_div{}
              td.usb_type_c{
                background-color:#E0E0E0;
              }
              td.p_usb_type_c{}
            }
            tr.pin_led{
              td.pin6{
                background-color:#E0E0E0;
              }
              td.p_pin6{}
              td.pin8{
                background-color:#E0E0E0;
              }
              td.p_pin8{}
              td.led{
                background-color:#E0E0E0;
              }
              td.p_led{}
            }
          }
        }
      }
    }
  }
}