.show{
  .mother_board{
    &__head{}
    &__bottom{
      width:80%;
      display:flex;
      &__left{
        width:50%;
        &__image{
          img.image{
            width:550px;
            height:420px;
            margin-top:50px;
          }
        }
      }
      &__right{
        margin-top:60px;
        .table{
          table{
            tr{
              td{
                border:solid thin grey;
              }
            } 
            tr.name_maker{
              td.name{
                background-color:#E0E0E0;
              }
              td.p_name{}
              td.maker{
                background-color:#E0E0E0;
              }
              td.p_maker{}
            }
            tr.release_data{
              td.release_ja{
                background-color:#E0E0E0;
              }
              td.p_release_ja{

              }
              td.release_g{
                background-color:#E0E0E0;
              }
              td.p_release_g{}
            }
            tr.chip_set_form_factor{
              td.chip_set{
                background-color:#E0E0E0;
              }
              td.p_chip_set{}
              td.form_factor{
                background-color:#E0E0E0;
              }
              td.p_form_factor{}
            }
            tr.cpu_socket_memory_type{
              td.cpu_socket{
                background-color:#E0E0E0;
              }
              td.p_cpu_socket{}
              td.memory_type{
                background-color:#E0E0E0;
              }
              td.p_memory_type{}
            }
            tr.sli_crossfire_display_port_mini_display_port{
              td.sli{
                background-color:#E0E0E0;
              }
              td.p_sli{}
              td.crossfire{
                background-color:#E0E0E0;
              }
              td.p_crossfire{}
              td.display_port{
                background-color:#E0E0E0;
              }
              td.p_display_port{}
              td.mini_display_port{
                background-color:#E0E0E0;
              }
              td.p_mini_display_port{}
            }
            tr.hdmi_usb_c_thunderbolt3{
              td.hdmi{
                background-color:#E0E0E0;
              }
              td.p_hdmi{}
              td.usb_type_c{
                background-color:#E0E0E0;
              }
              td.p_usb_type_c{}
              td.thunderbolt3{
                background-color:#E0E0E0;
              }
              td.p_thunderbolt3{}
            }
            tr.usb{
              td.usb3_2_gen2x2{
                background-color:#E0E0E0;
              }
              td.p_usb3_2_gen2x2{}
              td.usb3_2_gen2{
                background-color:#E0E0E0;
              }
              td.p_usb3_2_gen2{}
              td.usb3_2_gen1{
                background-color:#E0E0E0;
              }
              td.p_usb3_2_gen1{}
              td.usb2_0{
                background-color:#E0E0E0;
              }
              td.p_usb2_0{}
            }
            tr.pci{
              td.pci_express_16x{
                background-color:#E0E0E0;
              }
              td.p_pci_express_16x{}
              td.pci_express_8x{
                background-color:#E0E0E0;
              }td.p_pci_express_8x{}td.pci_express_4x{
                background-color:#E0E0E0;
              }td.p_pci_express_4x{}td.pci_express_1x{
                background-color:#E0E0E0;
              }td.p_pci_express_1x{}
            }
            tr.sata.m2.led{
              td.sata_slot{
                background-color:#E0E0E0;
              }
              td.p_sata_slot{}
              td.m2_slot{
                background-color:#E0E0E0;
              }
              td.p_m2_slot{}
              td.led{
                background-color:#E0E0E0;
              }
              td.p_led{}
            }
          }
        }
      }
    }
  }
}