@import 'top/top';
@import './reset';
@import 'shared/header';
@import 'shared/footer';
@import 'shared/header_user';

// cpu
@import'cpu/index';
@import'cpu/show';
// memory
@import'memory/index';
@import'memory/show';
// mother_board
@import'mother_board/index';
@import'mother_board/show';
// videocard
@import'videocard/index';
@import'videocard/show';
// pc_case
@import'pc_case/index';
@import'pc_case/show';
// power_unit
@import'power_unit/index';
@import'power_unit/show';
// ssd
@import'ssd/index';
@import'ssd/show';
// cpu_cooler
@import'cpu_cooler/index';
@import'cpu_cooler/show';
// j_pc
@import'pc/index';
@import'pc/show';
@import'pc/edit';
@import'pc/new';
// users
@import'users/registrations/new';
@import'users/sessions/new';

// font-awesome用
@import "font-awesome-sprockets";
@import "font-awesome";

/*ページネーション自体のデザイン*/
.pagination>li>a {          
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {     
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {        
  border-radius: 15px;    /*角を丸くする*/
}